body {
    font: 20px verdana, serif;
}

.navbar {
    background-color: #D2C525;
}

.home {
    background-color: #DF8F1C;
    color: white;
}

.margin {    
    padding-bottom: 50px;
    padding-top: 10px;
}

#parceiros {
    background-color: #E92511;
}

.bg-footer {
    background-color: black;
    color: white;
}